Source: spooftooph
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0), libncurses5-dev, libbluetooth-dev
Standards-Version: 3.9.3
Homepage: http://www.hackfromacave.com/projects/spooftooph.html
Vcs-Git: ssh://git@git.kali.org/packages/spooftooph.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/spooftooph.git;a=summary

Package: spooftooph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses5, bluez
Description: Automates spoofing or cloning Bluetooth devices
 Spooftooph is designed to automate spoofing or cloning 
 Bluetooth device Name, Class, and Address. Cloning this 
 information effectively allows Bluetooth device to hide in 
 plain site. Bluetooth scanning software will only list one 
 of the devices if more than one device in range shares the 
 same device information when the devices are in Discoverable 
 Mode (specificaly the same Address). 
